.error {
  text-align: center;
}

.error h1 {
  font-size: 3.5rem;
  margin-block: 2rem;
}

.error div {
  max-width: 768px;
  padding: 4rem;
  margin-inline: auto;
}

.error div h2 {
  color: inherit;
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: inherit;
  font-size: 16rem;
}

.error div p {
  font-weight: 600;
}

.error button {
  border: 2px solid #4263eb;
  color: #fff;
  border-radius: 0.8rem;
  background-color: #4263eb;
  cursor: pointer;
  padding: 0.8rem 1.8rem;
  transition: all 300ms ease-in-out;
}

.error button:hover {
  background-color: white;
  color: #4263eb;
}

.error button:active {
  color: white;
  background-color: #4263eb;
}
