.login {
  width: 100%;
  height: 100%;
}

.login__header {
  border-bottom: 2px solid #e9ecef;
}

.login__header__content {
  max-width: 768px;
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block: 1.5rem;
}

.login__header__content__heading {
  font-size: 4rem;
}

.login__header__content__btn {
  border: 2px solid #4263eb;
  color: #fff;
  border-radius: 0.8rem;
  background-color: #4263eb;
  cursor: pointer;
  padding: 0.8rem 1.8rem;
  transition: all 300ms ease-in-out;
}

.login__header__content__btn:hover {
  background-color: white;
  color: #4263eb;
}

.login__header__content__btn:active {
  color: white;
  background-color: #4263eb;
}

.login__form {
  margin-block: 2rem;
}

.login__form__content {
  max-width: 768px;
  margin-inline: auto;
}

.login__form__content__header {
  font-weight: 600;
  font-size: 2.5rem;
}

.login__form__content__description {
  color: #adb5bd;
  margin-block: 1rem;
}

.login__form__content__form {
  margin-block: 4rem;
}

.login__form__content__form > * {
  margin-block: 2rem;
}

.login__form__content__form label {
  display: block;
  width: max-content;
  color: #495057;
  font-weight: 500;
}

.login__form__content__form input {
  width: 100%;
  margin-block: 0.5rem;
  border: 2px solid #e9ecef;
  padding: 0.8rem 1.8rem;
  border-radius: 0.8rem;
  outline: none;
  color: inherit;
}

.login__form__content__form input:focus {
  border: 2px solid #4263eb;
  outline: none;
  color: inherit;
}

.w-full {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.icon {
  width: 24px;
}

.text-center {
  text-align: center;
  padding-bottom: 1.5rem;
}

.link {
  color: inherit;
}

.link:hover {
  font-style: italic;
  text-decoration: underline;
}

.disable-btn {
  border-color: #e9ecef;
  color: #000;
  background-color: #e9ecef;
  cursor: not-allowed;
}

.disable-btn:hover {
  border-color: #e9ecef;
  color: #000;
  background-color: #e9ecef;
  cursor: not-allowed;
}

@media screen and (max-width: 796px) {
  .login__header__content,
  .login__form__content {
    max-width: 90%;
  }
}
